.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 50vw;
    margin-left: auto;
    /*margin-right: 10px;*/
}

.imageAndText {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    max-width: 100%;
    width: 100%;
}

.imageAndText img {
    align-self: flex-end;
    width: 48px;
    height: 48px;
    order: 1;
    flex-shrink: 0;
}

.text {
    position: relative;
    background-color: #0066CC;
    border-radius: 10px;
    padding: 10px;
    filter: drop-shadow(0 5px 20px rgba(29, 33, 38, 0.03))
    drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1));
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -15px;
    width: 0;
    height: 0;
    border-left: 24px solid #0066CC;
    border-top: 22px solid transparent;
}

.name {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: Montserrat sans-serif;
    word-wrap: break-word;
}

.messageText {
    font-weight: 400;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

.time {
    margin-right: 12px;
    font-size: 10px;
    font-weight: 600;
}