.sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 15%;
    background-color: #FFFFFF;
    z-index: 100;
    padding: 16px 24px;
}


.sidebar.open {
    display: flex;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 99;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav a {
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}

.close {
    border: none;
    background-color: transparent;
    align-self: flex-end;
}

.close img {
}
