.spanBlock {
    display: flex;
    gap: 10px;
}

.span {
    font-size: 16px;
    font-weight: 500;
    color: #0080FF;
}

.input {
    height: 36px;
    max-width: 240px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #D1D1D1;
    padding: 0 10px;
}

.pen {
}