.App {
    --header_height: 60px;
    /*padding: 0 30px;*/
    position: relative;
}

.hw {
    width: 100%;
}

.hwTitle {
    padding: 30px 0 15px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
}