.friendMessage {
    max-width: 50vw;;
}

.friendImageAndText {
    display: flex;
    gap: 15px;
    max-width: 100%;
    width: 100%;
}

.friendImageAndText img {
    align-self: flex-end;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.friendText {
    position: relative;
    background-color: #F5F7FB;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 20px rgba(29, 33, 38, 0.03))
    drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1));

}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 0;
    height: 0;
    border-right: 24px solid #F5F7FB;
    border-top: 22px solid transparent;
}

.friendName {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    font-family: Montserrat sans-serif;
    word-wrap: break-word;
}

.friendMessageText {
    font-weight: 400;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    color: #000000;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

.friendTime {
    margin-left: 12px;
    font-size: 10px;
    font-weight: 600;
}
