.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    padding: 15px 0;
}



.header h1 {
}